.title{
    text-align: center;
    padding: 5px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid black;
    font-size: 35px;
    font-family: Verdana, sans-serif;
}
body{
    background: grey;
    margin: 0;
    padding: 0;
}
.catbackground{
    background-image: url("LandPictures/Cat/BACKGROUND2.png");
}
.catbackground::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    position: relative;
}

.container a{
    position: relative;
    display: inline-block;
}

.container a::After{
    content: attr(data-title);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.container a:hover::after{
    opacity: 1;
}
.container .icon{
    width: 200px;
    max-width: 400px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black;
}

.icon-bottom{
    width: 200px;
    max-width: 400px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black;
}
.container::after{
    content: "";
    width: 350px;
}

.icon{
    cursor: pointer;
    transition: transform 0.5s; 
}

.icon:hover{
    transform: scale(1.1);
}

.info {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: lightslategray;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.top{
    top: -100%;
    transition: top 1s ease;
    height: 29%;
    border-bottom: 10px solid black
}
.bottom{
    bottom: -100%;
    transition: bottom 1s ease;
    height: 61%;
    border-top: 10px solid black;
}

button {
    background-color: #0a0a23;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h2{
    font-size: 65px;
}
button:hover {
    background-color: #333;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-content{
    margin-top: -425px;
    margin-left: 700px;
    display: none;
    text-align: justify;
    line-height: 1.5;
    padding: 40px 20px;
    max-width: 780px; 
    box-sizing: border-box;
}

.tab-content h3 {
    margin-top: 0;
}

.tab-link.active {
    background-color: #4CAF50;
    color: white;
}

.tab-content.active {
    display: block;
}

.tabs {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin: auto; 
    padding: 20px;
}

.icon-bottom{
    width: 650px;
    max-width: 800px;
    height: 400px;
    margin-left: 0px;
    margin-right: 35px;
}

.tab-link{
    margin-top: -365px;
}
